<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="col-md-6 bg-white p-5 rounded-lg shadow-lg">
    <h2 class="text-center text-dark mb-4">
      {{ nuevo ? 'Actualizar Usuario' : 'Registrar Usuario' }}
    </h2>

    <hr class="mb-4">

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="username" class="form-label fw-bold">Usuario</label>
        <input type="text" id="username" formControlName="username"
          class="form-control">
      </div>

      <div class="mb-3">
        <label for="last_name" class="form-label fw-bold">Apellido</label>
        <input type="text" id="last_name" formControlName="last_name"
          class="form-control">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label fw-bold">Correo Electrónico</label>
        <input type="email" id="email" formControlName="email"
          class="form-control">
      </div>

      <div class="mb-3">
        <label for="image" class="form-label fw-bold">URL de Imagen</label>
        <input type="text" id="image" formControlName="image"
          class="form-control">
      </div>

      <div class="d-grid mt-4">
        <button type="submit" class="btn btn-primary btn-lg fw-bold">
          {{ nuevo ? 'Actualizar' : 'Registrar' }}
        </button>
      </div>

    </form>
  </div>
</div>


