<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<header class="p-3 shadow-sm" style="background-color: #683e28; width: 100%;">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" [routerLink]="['/home']">
        <figure class="logo m-0">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Windows_Settings_app_icon.png" alt="Logo" class="img-fluid rounded-circle" style="height: 40px; width: 40px; object-fit: cover;">
        </figure>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link fw-bold fs-5 text-light" [routerLink]="['/home']">
              <i class="me-2 fs-4"></i>Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold fs-5 text-light" [routerLink]="['/personajes']">
              <i class="me-2 fs-4"></i>Nuevo Empleado
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<hr class="border-4 border-top border-dark" />


<router-outlet />

<footer class="text-center my-2 text-lg-start" style="background-color: #79706b; width: 100%;">
  <div class="d-flex justify-content-center py-5">
    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
      <i class="fab fa-facebook-f"></i>
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
      <i class="fab fa-youtube"></i>
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
      <i class="fab fa-instagram"></i>
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
      <i class="fab fa-twitter"></i>
    </button>
  </div>
  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
</footer>
